FROM python:3.12-slim

ENV PYTHONDONTWRITEBYTECODE=1 \
    PYTHONUNBUFFERED=1

WORKDIR /app

# deps básicos
RUN apt-get update && apt-get install -y --no-install-recommends \
    ca-certificates curl && rm -rf /var/lib/apt/lists/*

# requirements
COPY requirements.txt .
RUN pip install --no-cache-dir -r requirements.txt

# copia del proyecto
COPY . /app

# collectstatic (no rompe si no hay estáticos)
RUN python manage.py collectstatic --noinput || true

EXPOSE 8000
CMD ["gunicorn", "core.wsgi:application", "-b", "0.0.0.0:8000", "-w", "3", "--timeout", "60"]
