services:
  autominirep:
    image: autominirep-app:latest
    build:
      context: ../..                      # ← raíz del repo
      dockerfile: Docker/Autominirep_yml/Dockerfile
    restart: unless-stopped
    ports:
      - "${APP_PORT:-8081}:8000"
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_DEBUG: ${DJANGO_DEBUG:-0}
      PGDATABASE: ${PGDATABASE}
      PGUSER: ${PGUSER}
      PGPASSWORD: ${PGPASSWORD}
      PGHOST: ${PGHOST}
      PGPORT: ${PGPORT}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS:-72.60.56.56,localhost,127.0.0.1}
      CSRF_TRUSTED_ORIGINS: ${CSRF_TRUSTED_ORIGINS:-http://72.60.56.56:${APP_PORT:-8081}}
      TZ: ${TZ:-America/Lima}
    volumes:
      - autominirep_static:/app/staticfiles
volumes:
  autominirep_static:
